.venv/*
.vscode/*

.venv/
.vscode/
.DS_Store
src/app/config/.env
src/receipt_parser/config/.env
src/receipt_parser/data/img/*
src/receipt_parser/data/txt/*
src/receipt_parser/data/tmp/*

src/receipt_parser/__pycache__
src/api/__pycache__
src/receipt_parser/core/__pycache__
src/__pycache__/
